extend ../layout2
block content
  // Content Header (Page header)
  section.content-header
    h1
      | Extensions
  // Main content
  section.content
    .row
      .col-xs-12
        .box
          .box-header
            // h3.box-title Extension
          // /.box-header
          .box-body.table-responsive
            p
              .form-group
                label.control-label(for='name') Search by Name:
                input#name.form-control(name='name')
            table#datatable-extensions.table.table-bordered.table-striped
              thead
                tr
                  th Extension
                  th Client ID
                  th Name
                  th Org ID
                  th Type
                  th License
                  th Budget
                  th Balance
                  th Tenant
                  th Authorization code
                  th Rent charge
              tbody
                each extension in extensions
                  tr
                    td= extension.extension
                    td= extension.clientid
                    td= extension.name
                    td= extension.orgid
                    td= extension.exttype
                    td= extension.has_license
                    td= extension.budget
                    td= extension.balance
                    td= extension.tenant
                    td= extension.authorization_code
                    td= extension.rent_charge
              tfoot
                tr
                  th Extension
                  th Client ID
                  th Name
                  th Org ID
                  th Type
                  th License
                  th Budget
                  th Balance
                  th Tenant
                  th Authorization code
                  th Rent charge
          // /.box-body
        // /.box
  // /.content
block script
  // jQuery 2.2.0
  script(src='/AdminLTE-2.3.3/plugins/jQuery/jQuery-2.2.0.min.js')
  // Bootstrap 3.3.6
  // script(src='/AdminLTE-2.3.3/bootstrap/js/bootstrap.min.js', type='text/javascript')
  // DataTables
  script(src='/AdminLTE-2.3.3/plugins/datatables/jquery.dataTables.min.js', type='text/javascript')
  script(src='/AdminLTE-2.3.3/plugins/datatables/dataTables.bootstrap.min.js', type='text/javascript')
  // SlimScroll
  // script(src='/AdminLTE-2.3.3/plugins/slimScroll/jquery.slimscroll.min.js', type='text/javascript')
  // FastClick
  // script(src='/AdminLTE-2.3.3/plugins/fastclick/fastclick.js', type='text/javascript')
  // AdminLTE App
  // script(src='/AdminLTE-2.3.3/dist/js/app.min.js', type='text/javascript')
  // AdminLTE for demo purpose
  script(src='/AdminLTE-2.3.3/dist/js/demo.js', type='text/javascript')
  // page script
  script(src='/javascripts/tables/extensionsDataTable.js' type='text/javascript')
