extend ../layout2
block content
  // Content Header (Page header)
  section.content-header
    h1
      | Roles Management
  // Main content
  section.content
    .row
      // left column
      .col-md-12
        // general form elements
        .box.box-primary
          .box-header
            h3.box-title Permissions in this role
          .box-body.pad.table-responsive
            p
              a(href='/etbs-roles/edit/' + rolename + '/' + profileid) Back to Form
            table.table.table-bordered.text-center
              tr
                th Permission
                th Role name
                th
              each perm in permissions
                tr
                  td= perm.permission
                  td= perm.rolename
                  td
                    form(method='POST' action='/etbs-roles/permissions/delete')
                      input#rolename(type='hidden' name='rolename' value=rolename)
                      input#permission(type='hidden' name='permission' value=perm.permission)
                      input#profileid(type='hidden' name='profileid' value=perm.profileid)
                      input#perm_type(type='hidden' name='perm_type' value=perm.perm_type)
                      button.btn.btn-danger(type='submit') Remove
    .row
      // left column
      .col-md-12
        // general form elements
        .box.box-primary
          .box-header
            h3.box-title Other permissions
          .box-body.pad.table-responsive
            table.table.table-bordered.text-center
              tr
                th Permission
                th Role name
                th
              each perm in unPermissions
                tr
                  td= perm.permission
                  td= perm.rolename
                  td
                    form(method='POST' action='/etbs-roles/permissions/insert')
                      input#rolename(type='hidden' name='rolename' value=rolename)
                      input#permission(type='hidden' name='permission' value=perm.permission)
                      input#originProfileid(type='hidden' name='originProfileid' value=profileid)
                      input#profileid(type='hidden' name='profileid' value=perm.profileid)
                      input#perm_type(type='hidden' name='perm_type' value=perm.perm_type)
                      button.btn.btn-primary(type='submit') Apply
