extend ../layout2
block content
  // Content Header (Page header)
  section.content-header
    h1
      | Users Management
  // Main content
  section.content
    .row
      // left column
      .col-md-12
        // general form elements
        .box.box-primary
          .box-header
            if action == '/etbs-users/insert'
              h3.box-title New
            else if action == '/etbs-users/update'
              h3.box-title Edit
            else
              h3.box-title Remove
          // /.box-header
          if error
            .alert.alert-danger.alert-dismissible
              button.close(type='button' data-dismiss='alert' aria-hidden=true) &times;
              h4
                i.icon.fa.fa-ban
                | Alert
              | Some value are not allow, please try again.
          // form start
          form(method='POST' action=action)
            .box-body
              if username != undefined
                input#originUsername(type='hidden' name='originUsername' value=username)
              .form-group
                label(for='username') Username
                input#username.form-control(type='text' placeholder='Username' name='username' value=username required)
              .form-group
                label(for='clientid') Client ID
                input#clientid.form-control(type='text' placeholder='Client ID' name='clientid' value=clientid)
              .form-group
                label(for='extension') Extension
                input#extension.form-control(type='text' placeholder='Extension' name='extension' value=extension)
              if extensions
                .form-group
                  label(for='extensions') Extension
                  select.form-control
                    each ext in extensions
                      option= ext.extension
              .form-group
                label(for='name') Name
                input#name.form-control(type='text' placeholder='Name' name='name' value=name)
              .form-group
                label(for='logo') Logo
                input#logo.form-control(type='text' placeholder='Logo' name='logo' value=logo)
              .form-group
                label(for='company') Company
                input#company.form-control(type='text' placeholder='Company' name='company' value=company)
              .form-group
                label(for='email') Email
                input#email.form-control(type='email' placeholder='Email' name='email' value=email)
              .form-group
                label(for='mobile') Mobile
                input#mobile.form-control(type='tel' placeholder='Mobile' name='mobile' value=mobile pattern='[0-9]{10}')
              .form-group
                label(for='fax') Fax
                input#fax.form-control(type='tel' placeholder='Fax' name='fax' value=fax pattern='[0-9]{10}')
              .form-group
                label(for='is_active') Active
                input#is_active.form-control(type='text' placeholder='Active' name='is_active' value=is_active)
              if rolename != undefined
                .form-group
                  label(for='roles') Role
                  p
                    a(href= '/etbs-users/roles/' + username)= rolename ? rolename : 'Not yet assign role'
              if cnt != undefined
                .form-group
                  label(for='cnt') Groups
                  p
                    a(href= '/etbs-users/user-group/' + username)= cnt + ' group(s)'
              if groups
                .form-group
                  .box-body
                    table.table.table-bordered.table-hover
                      thead
                        tr
                          th
                          th Group ID
                          th Group Name
                      tbody
                        each group in groups
                          tr
                            td
                              input(type='checkbox' name='groups' value=group)
                            td= group.group_id
                            td= group.group_name
                      tfoot
                        tr
                          th
                          th Group ID
                          th Group Name
              // /.box-body
              .box-footer
              if action == '/etbs-users/insert'
                button.btn.btn-primary(type='submit') Create
              else if action == '/etbs-users/update'
                button.btn.btn-primary(type='submit') Save
              else
                button.btn.btn-danger(type='submit') Remove
